<!-- <p>charities works!</p> -->
<div class="card" style="width: 18rem;">
    <div class="card-body" *ngFor = "let charity of charities" >
      <h5 class="card-title">Charity Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">Charity Location</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://catholiccharities.net/default.aspx" class="card-link">Charity Link</a>
      <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>